@import "defaults";

// Settings

$primary-color: #E87224;
$secondary-color: #1c3067;
$section-title-color: #1c3067;
$title-font-color: #1c3067;
$header-font-color: #1c3067;
$code-color: #4d70cf;
$blockquote-font-color: #4d70cf;
$subheader-font-color: #4d70cf;
$blockquote-cite-font-color: #4d70cf;

// Lists

$list-side-margin: emCalc(24px);
$definition-list-header-margin-bottom: emCalc(5px);
$definition-list-margin-bottom: emCalc(20px);
